@media screen and (max-width: 1800px) {
  .home-banner, .catalog-mini, .row-items, .our-brands {
    .slider-btn {
      &--prev {
        left: 40px;
      }

      &--next {
        right: 40px;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .single-exchange {
    padding-right: 5%;
    .text {
      li {
        line-height: 17px;
      }
    }
  }
  .exchange {
    padding: 80px 0;
  }
  .prod-item .price p {
    display: flex;
    flex-direction: column;
  }
  .container {
    max-width: 1280px;
  }
  .banner-slide {
    .text {
      max-width: 421px;
      padding: 55px 0;
    }
  }

  .header .logo {
    margin-right: 30px;
  }
  .catalog {
    left: 195px;
  }
  .catalog-btn {
    padding: 22px 16px;
  }
  .search-block {
    margin-left: 2.4%;
    width: 24.5%;
    margin-right: auto;
  }
  .call-us {
    margin-left: 3%;
  }
  .header-control {
    margin-left: 2.6%;
    margin-right: 1.8%;
  }
  .lang {
    margin-left: auto;
  }
}
@media screen and (max-width: 1500px) {

  .home-banner, .catalog-mini, .row-items, .our-brands {
    .slider-btn {
      &--prev {
        left: 5px;
      }

      &--next {
        right: 5px;
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  .cat-prod {
    row-gap: 10px;
    column-gap: 10px;
    zoom: 0.8;
    .prod-item {
      width: calc((100% / 3) - (20px / 3));
    }
  }
  .header-control .cart p {
    display: none;
  }
  .container {
    max-width: 1170px;
  }
  .prod-item .avail {
    padding-right: 8px;
  }
}
@media screen and (max-width: 1300px) {
  .container {
    max-width: 1100px;
  }
  .map-block {
    padding-bottom: 80px;
  }
  .contacts {
    padding: 40px 0 70px;
  }
  .single-contact {
    padding: 30px 20px;
    p {
      font-size: 24px;
      line-height: 30px;
      padding-bottom: 12px;
      margin-bottom: 60px;
    }
    .text {
      p, a {
        line-height: 25px;
      }
    }
  }
  .footer-column {
    margin-right: 5%;
  }
.single-blog {
  padding: 34px 28px;
}
  .item-link {
    height: 340px;
    padding: 34px 29px;
  }
  .catalog {
    left: 166px;
  }
  .header .logo {
    height: 37px;
  }
  .search-block {
    width: 21%;

  }
  .search-field {
    height: 46px;

    input {
      font-size: 12px;
      line-height: 1.2;

      &::placeholder {
        font-size: 12px;
        line-height: 1.2;
      }
    }
  }

}

@media screen and (max-width: 1200px) {
  .home-banner, .catalog-mini, .row-items, .our-brands {
    .slider-btn {
      display: none;
    }
  }
  .seo-block {
    margin-bottom: 80px;
    margin-top: 40px;
  }
  .seo-text {

    max-height: 385px;
    padding-right: 25px;
    h1 {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 6px;
    }
    h2, h3 {
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 6px;
    }
    h4, h5, h6 {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 6px;
    }
    p, li {
      margin-bottom: 13px;
    }
    ul {
      margin-bottom: 14px;
    }
  }
  .seo-block .img {
    margin-left: 4%;
    width: 44%;
    padding-top: 25%;
  }
  .catalog-mini__container .slide-cat a .img {
    height: 100px;
  }
  .catalog-mini {
    padding: 50px 0 80px;
  }
  .catalog {
    ul {
      li {
        width: calc(100% / 5);
        padding-top: calc(100% / 5);

        a {
          padding: 20px 10px;
        }

        &:nth-child(6n) {
          border-right: 1px dashed #C3CCD1;
        }

        &:nth-child(5n) {
          border-right: none;
        }
      }
    }
  }
  .catalog ul li a p {
    font-size: 1vw;
  }
}

@media screen and (max-width: 1100px) {
  .region-container {
    flex-direction: column;
    .left {
      width: 100%;
      margin-bottom: 30px;
    }
    .right {
      width: 100%;
      margin: 0;
    }
  }
  .delivery-type {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    position: static;
    > .img {
      position: relative;
      margin-top: 35px;
      transform: none;
      top: auto;
      left: auto;
      width: 90%;
      padding-top: 58%;
      img {

      }
    }
  }
  .delivery-block {
    padding-left: 0;
  }
  .del-types {
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .delivery-type {
    padding: 45px 0 70px;
  }
  .single-type {
    width: 50%;
    box-sizing: border-box;
    padding-right: 40px;
  }
  .exchange {
    padding: 40px 0 30px;
  }
  .exchange-list {
    row-gap: 25px;
  }
  .single-exchange {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 45px;
    .img {
      margin-right: 0;
      margin-bottom: 17px;
    }
  }
  .sorting {
    margin-left: 20px;
  }
  .items-show {
    margin-left: 20px;
  }
  .cat-prod {
    row-gap: 10px;
    column-gap: 10px;
    zoom: 1;
    .prod-item {
      width: calc((100% / 2) - (10px / 2));
    }
  }
  .car-zone {
    padding: 40px 0 65px;
  }
  .car-zone__row {
    .img {
      width: 52%;
      margin-right: 4%;
    }
    .text {
      width: 44%;
      h2, h1, span {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 14px;
      }
      p {
        margin-bottom: 14px;
      }
    }
  }
  .car-zone__text {
    margin-top: 70px;
    flex-direction: column;
    .left, .right {
      width: 100%;
      margin: 0;
    }
  }
  .top-footer {
    padding: 75px 0 25px;
    position: static;
  }
  .demiweb {
    left: 35px;
  }
  .footer-row {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer-column {
    width: 50%;
    margin-right: 0;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .footer {
    position: relative;
    padding-bottom: 45px;
  }

  .item-link {
    .text {
      .btn {
        margin-top: 17px;
      }
      p {
        font-size: 18px;
        line-height: 27px;
      }
      span {
        font-size: 12px;
        line-height: 1.2;
      }

    }
  }
  .single-useful {
    padding: 30px 12px 16px;
  }
  .search-block {
    width: 24%;
    flex-grow: 1;
  }
  .call-us {
    display: none;
  }
  .prod-item {
    .about {
      flex-direction: column;
      align-items: flex-start;
    }
    .price {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 992px) {
  .single-type {
    width: 100%;
    padding-right: 0;
  }
  .car-zone {
    background: url("../img/sto-bg.svg") no-repeat right 50% / 140px;
  }
  .car-zone__row {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .img {
      width: 100%;
      padding-top: 59%;
      margin-right: 0;
      margin-bottom: 14px;
    }
    .text {
      width: 100%;
    }
  }
  .text-block {
    padding: 40px 0 70px;
    h1, h2, h3, h4 {
      margin-top: 30px;
      padding-top: 30px;
    }
    h5, h6 {
      margin-top: 29px;
    }
    ul {
      li {
        margin-bottom: 15px;
      }
    }
    h1, h2 {
      font-size: 24px;
      line-height: 30px;
    }
    h3, h4 {
      font-size: 18px;
      line-height: 24px;
    }
  }
  .hero {
    min-height: 260px;
  }
  .hero-container {
    padding: 17px 0;
  }
  .hero-text {
    padding: 17px 0;
  }
  .hero-title {
    font-size: 32px;
    line-height: 44px;
  }
  .blog {
    padding: 30px 0 70px;
    .blog-container {
      margin: 70px 0 40px;
      flex-wrap: wrap;
      overflow: visible;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;

    }
  }
  .footer {
    background: url("../img/f-bg.svg") no-repeat right bottom / 140px, #222222;

  }
  .bottom-footer {
    padding: 32px 0 20px;
  }
  .bottom-footer__row {

    justify-content: flex-start;
    flex-wrap: wrap;
    .copyright {
      order: 2;
      width: 50%;
    }

  }
  .footer-logo {
    order: 1;
    margin: 0;
    margin-left: -10px;
  }
  .pay-cards {
    order: 3;
    margin-left: 0;
    margin-top: 20px;
  }
  .has-gradient {
    padding-top: 60px;
    &::before {
      height: 58px;
    }
  }

  .blog-container {
    row-gap: 10px;
    column-gap: 10px;
  }
  .blog-part {
    position: relative;
    .top-title {
      .btn {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }

  .single-blog {
    width: calc(50% - 5px) !important;
    .text {
      .name {
        font-size: 18px;
        line-height: 27px;
        margin-top: 7px;
      }
      .btn {

      }
    }
  }
  .item-link {
    width: calc(50% - 15px) !important;
  }
  .useful-list {
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 70px;
  }
  .single-useful {
    margin-top: 130px;
    width: calc(50% - (45px / 2));
    .text {
      padding-top: 14.5%;
    }
    .img {
      z-index: 4;
    }
    &:hover {
      .img {
        transform: translate(0, -50%);
      }
    }
  }
  .sub-title {
    margin-top: 9px;
  }
  .title {
    font-size: 24px;
    line-height: 1.2;
  }
  .prod-item {
    .fav {
      width: 35px;
      height: 35px;

    }
    .img {
      height: 120px;
    }
    .text {
      padding: 16px 17px 0;
    }
    .btn {
      width: calc(100% + 34px);
      margin-left: -17px;
      margin-right: -17px;
    }
  }
  .prod-item .avail {
    padding-left: 17px;
    margin-left: -17px;
  }
  .semi-cat__item {
    height: 350px;

    padding: 35px 28px;
    .text {
      p {
        font-size: 18px;
        line-height: 27px;
      }
      span {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
  .home-banner .slider-btn, .catalog-mini .slider-btn {
    display: none;

  }
  .catalog-mini {
    .dots {
      display: flex;
      width: 100%;
      justify-content: center;
      position: absolute;
      bottom: 45px;
    }
  }
  .home-banner .dots {
    padding: 0 35px;
    box-sizing: border-box;
    justify-content: flex-start;
  }
  .banner-slide {
    .text {
      padding: 30px 0 100px;
      justify-content: flex-end;
      > p {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }

    .text-title {
      p {
        font-size: 50px;

        strong {
          font-size: 21px;
        }
      }
    }
  }
  .desk-only {
    display: none;
  }
  .mob-only {
    display: block;
  }
  .search-icon {
    display: flex;
    width: 38px;
    height: 38px;
    padding: 10px;
  }
  .header .logo {
    height: 44px;
    margin-right: 24px;
    margin-top: 13px;
    margin-bottom: 13px;
  }
  .search-block {
    width: auto;
    flex-grow: 0;
    margin-left: auto;
    margin-right: 0;

    &.open {
      .search-field {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }
  .header-control {
    margin-left: 0;
  }
  .lang {
    margin-left: 0;
  }
  .burger-container {
    margin-left: 0;
  }
  .catalog-btn {
    margin-right: 20px;
  }
  .search-field {
    position: absolute;
    padding: 6px 35px;
    box-shadow: 0 0 9px 3px rgba(18, 18, 18, 0.12);
    top: 100%;
    left: -35px;
    right: -35px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &::after {
      right: 55px;
    }

  }
  .catalog {
    left: 84px;
  }
  .catalog-btn {
    width: 200px;
  }
}
@media screen and (max-width: 900px) and (min-width: 768px) {
  .category-content #column-left {
    width: 294px;
  }
  .ocf-search-btn-static, .ocf-search-btn-popover {
    padding: 4px !important;
  }
}
@media screen and (max-width: 900px) {
  .category-head {
    flex-wrap: wrap;
  }
  .items-show {
    flex-direction: column;
    p {
      margin-right: 0;
      margin-bottom: 4px;
    }
  }
  .category {
    padding-top: 40px !important;
  }
  .category-content {
    padding-bottom: 60px;
  }
  .sorting p {
    display: none;
  }
  .sorting {
    order: 1;
    margin-left: 0;
  }
  .items-show {
    order: 2;
  }
  .amount-items {
    order: 4;
    margin-left: 20px;
  }
  .contacts-list {
    flex-wrap: wrap;
  }
  .single-contact {
    flex-grow: 1;
    width: 50%;
    &:nth-child(odd) {
      border-left: 1px solid #e5e5e5;
    }
  }
  .semi-cat__container {
    overflow: visible;
  }
  .semi-cat__item {
    width: 100%;
  }
  .semi-cat {
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 90px;
    .dots {
      bottom: 60px;
    }
  }
}

@media screen and (max-width: 769px) {
  .region-list {
    flex-wrap: wrap;
    ul {
      width: 50%;
      margin-left: 0;
    }
  }
  .car-zone {
    padding: 40px 0;
  }
  .map {
    height: 380px;
    margin-top: 30px;
  }
  .footer-column ul li {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      line-height: 1.2;
    }
  }
  .our-brands {
    padding-top: 30px;
    margin-bottom: 80px;
    overflow: hidden;
    .slider-btn {
      display: none;
    }
  }
  .brands-list {
    margin-top: 36px;
    margin-bottom: 28px;
    overflow: visible;
  }
  .blog-part .top-title .btn {
    padding: 13px 20px;
    width: 210px;
  }
  .seo-block {
    .container {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .img {
      width: 100%;
      margin-top: 34px;
      margin-left: 0;
      padding-top: 61%;
    }
  }
  .seo-text {
    padding-right: 16px;
  }

  .catalog ul li {
    width: calc(100% / 4);
    padding-top: calc(100% / 4);

    &:nth-child(5n) {
      border-right: 1px dashed #c3ccd1;
    }

    &:nth-child(4n) {
      border-right: none;
    }

    a {
      p {
        font-size: 1.2vw;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .items-show {
    display: none;
  }
  .prod-cont {
    margin-left: 0;
  }
  .ocf-btn-mobile-static {
    order: 3;
    margin-left: 16px;
    margin-bottom: 0 !important;
    padding: 0 !important;
    height: 38px;
    margin-top: 2px;

    button {
      border: 1px dashed #C3CCD1;
      filter: drop-shadow(0 8px 0 #F8F9FB) drop-shadow(0 -8px 0 #F8F9FB) drop-shadow(-8px 0 0 #F8F9FB) drop-shadow(8px 0 0 #F8F9FB);
      background: #F8F9FB;
      border-radius: 3px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #4E4E4E;
      box-sizing: border-box;
      padding: 4px 30px;
    }

  }
  .category-content #column-left {
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    transform: translate(-100%, 0);

  }
  .category-content {
    .ocf-theme-light-block .ocf-filter {
      padding: 12px 0 0 !important;
      margin: 14px 0 0;
    }
    .ocf-filter-header, .ocf-module-page-header {
      padding: 0;
    }
    .ocf-theme-light-block .ocf-module-page {
      background-image: none !important;
    }
    .ocf-value-slider {
      padding: 0 20px;
    }
    .ocf-container {
      left: 100%;
      padding: 20px 20px 0;
      background: #fff;
    }
    .category-content .ocf-value, .category-content .ocf-value:active, .category-content .ocf-value:focus, .category-content .ocf-value:hover, .category-content .ocf-value:visited {
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .ocf-header {
      padding: 0;
    }
    .ocf-btn-show-filters {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
    .ocf-footer {
      padding: 10px 0;
    }
    .ocf-filter-body > .ocf-value-list {
      position: static !important;
      transform: none !important;
      padding: 0 !important;
      overflow: visible !important;
      border: none !important;
    }
  }


}

@media screen and (max-width: 640px) {
  .delivery-regions {
    background: url('../img/cart-l-b.png') no-repeat left bottom/50%,url('../img/cart-r-t.png') no-repeat right top/50%;
  }
  .region-list {
    ul {
      //width: 100%;
      li {
        line-height: 20px;
        &::before {
          top: 5px;
        }
      }
    }
  }
  .single-type {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .img {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  .single-exchange {
    width: 100%;
    padding-right: 0;
  }
  .single-contact {
    border: none;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    padding: 30px 0;
    > p {
      margin-bottom: 16px;
    }
    &:nth-child(odd) {
      border-left: none;
    }
  }

  .blog-tabs ul {
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .single-blog {
    width: 100% !important;
    flex-shrink: 0;
  }
  .other-list {
    margin-bottom: 65px;
  }
  .item-link {
    width: 100% !important;
  }
  .prod-item .img {
    height: 97px;
  }
  .row-items__container {
    overflow: visible;
  }
  .row-items .dots {
    display: flex;
    margin-top: 20px;
  }
  .prod-item .about {
    margin-bottom: 9px;
  }
  .row-items {
    overflow: hidden;
    padding-bottom: 80px;
    .slider-btn {
      display: none;
    }
  }
  .prod-item .code {
    display: none;
  }
  .prod-item .btn{
    height: 45px;
  }
  .prod-item .price p {
    font-size: 18px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

  }
  .prod-item .price {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    strong {
      font-size: 13px;
      line-height: 1.2;
    }
  }
  .prod-item .name {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 13px;
    line-height: 1.2;
  }
  main {
    padding-top: 56px;
  }
  .slider-banner {
    height: 565px;
  }
  .search-field {
    height: 57px;
  }
  .catalog-btn {
    height: 57px;
    position: absolute;
    top: 100%;
    left: -35px;
    right: -35px;
    padding: 15px 15px 15px 17px;
    width: auto;
    margin: 0;
    justify-content: center;

    p {
      line-height: 1;
    }
  }
  .catalog {
    top: calc(100% + 57px);
    left: -35px;
    right: -35px;
  }
  .catalog ul li a {
    padding: 20px 18px;
  }
  .row-items__container {
    margin-top: 32px;
  }
}

@media screen and (max-width: 600px) {
  .cat-prod {
    justify-content: flex-start;
    column-gap: 0;
    .prod-item {
      margin-right: 10px;
      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }
  .amount-items {
    margin-left: 0;
    margin-top: 12px;
  }
  .sort-select {
    width: 100%;
  }
  .sorting {
    width: 60%;
  }
  .ocf-btn-mobile-static {
    width: calc(40% - 16px);
    button {
      width: 100%;
    }
  }
  .hero {
    min-height: 150px;
  }
  .hero-container {
    padding: 11px 0;
  }
  .hero-text {
    padding: 12px 0;
  }
  .hero-title {
    font-size: 26px;
    line-height: 40px;
  }
  .blog {
    .blog-container {
      row-gap: 30px;
    }
  }
  .footer-row {
    flex-direction: column;
  }
  .footer-column {
    width: 100%;
  }
  .bottom-footer__row {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .single-brand {
    padding: 25px 20px;
    box-sizing: border-box;
    img {
      max-height: 47px;
    }
  }

  .catalog-mini {
    padding: 50px 0;
  }

  .catalog-mini__container {
    .slide-cat {
      width: 50%;
    }
  }
  .lang {
    display: none;
  }
  .menu {
    background: #fff;
  }
  .menu .lang {
    display: none;
    width: 100%;

    .lang-box {
      width: 100%;
      border: none;

      &:hover {
        border: none;
      }
    }

    ul {
      position: static;
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-start;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      box-shadow: none;
      border: none;
      padding: 12px 20px;
      width: 100%;

      li {
        border-right: 1px solid #e5e5e5;
        border-bottom: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        &:last-child {
          border-right: none;
        }

        a, span {
          line-height: 26px;
          text-align: center;
          width: 100%;
          border-bottom: none;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        a {
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  .burger-container.open {
    .menu {
      .lang {
        display: flex;
      }
    }
  }
  .catalog ul li {
    width: calc(100% / 3);
    padding-top: calc(100% / 3);

    &:nth-child(4n) {
      border-right: 1px dashed #c3ccd1;
    }

    &:nth-child(3n) {
      border-right: none;
    }

    a {
      p {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .pagination ul {
    justify-content: center;
    li {
      margin-right: 0;
      flex-grow: 1;
      a {
        &.prev {
          margin-right: auto;
        }
        &.next {
          margin-left: auto;
        }
      }
    }
  }
  .blog-container {
    overflow-x: auto;
    flex-wrap: nowrap;
    width: calc(100% + 70px);
    margin-left: -35px;
    margin-right: -35px;
    padding: 0 35px;
    box-sizing: border-box;
  }
  .single-useful {
    width: 100%;
  }
  .useful-list {
    margin-top: 0;
  }
  .catalog-mini__container .slide-cat {
    padding: 10px 4px;
  }
  .catalog-mini {
    .dots {
      display: none;
    }
  }
  .catalog-mini__container .slide-cat a .img {
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  .catalog-mini__container .slide-cat a p {
    font-size: 12px;
  }
  .menu {
    right: -35px;
    left: auto;
    width: 100vw;

    ul {
      width: 100%;
    }
  }
  .catalog {
    max-height: calc(100vh - 127px);
  }
  .catalog ul li {
    width: calc(100% / 2);
    padding-top: 44%;

    &:nth-child(3n) {
      border-right: 1px dashed #c3ccd1;
    }

    &:nth-child(2n) {
      border-right: none;
    }

  }
  .catalog ul li a .img {
    height: 78px;
    width: auto;

    img {
      height: 100%;
      width: auto;
    }
  }
  .header-control {
    margin-right: 0;
  }
}

@media screen and (max-width: 365px) {
  .region-list {
    ul {
      width: 100%;
    }
  }
  .blog-container {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
  }
  .seo-text {
    p, li {
      font-size: 12px;
      line-height: 18px;
    }
  }
  .other-list {
    column-gap: 15px;
    row-gap: 15px;
  }
  .item-link {
    padding: 20px;
    height: 280px;
    .text {
      .btn {
        width: 100%;
      }
    }
  }
  .row-items__container {
    margin-top: 32px;
  }
  .rating-stars {
    img {
      width: 14px;
      margin-right: 3px;
    }
  }
  .title {
    font-size: 18px;
    line-height: 1.2;
  }
  .prod-item {
    .avail {
      padding-left: 10px;
      margin-left: -10px;
      margin-right: 0;
    }
    .btn {
      width: calc(100% + 20px);
      margin-left: -10px;
      margin-right: -10px;
    }
    .text {
      padding: 10px 10px 0;
    }
  }
  .slider-banner {
    height: 420px;
  }
  .home-banner .dots {
    padding: 0 20px;
  }
  .banner-slide {
    .text {
      padding-bottom: 50px;
      .btn {
        width: 100%;
      }
      > p {
        line-height: 1.2;
      }
      > span {
        strong {
          font-size: 24px;
        }
      }
    }
    .text-title {
      p {
        font-size: 42px;
        strong {
          font-size: 16px;
        }
      }
    }
  }
  .container {
    padding: 0 20px;
  }
  .header .logo {
    margin-right: 10px;
  }
  .catalog-btn, .catalog, .search-field {
    left: -20px;
    right: -20px;
    box-sizing: border-box;
  }
  .menu {
    right: -20px;

    ul {
      padding: 7px 0;
    }
  }
  .menu ul li {
    padding: 0 20px;

    a {
      line-height: 36px;
    }
  }
  .search-field {
    padding: 6px 20px;
    width: auto;
  }
  .catalog ul li a .img {
    height: 52px;
    width: auto;

    img {
      height: 100%;
      width: auto;
    }
  }
  .catalog ul li a p {
    font-size: 11px;
  }
}

