@media screen and (max-width: 1800px) {
  .home-banner, .catalog-mini, .row-items, .our-brands {
    .slider-btn {
      &--prev {
        left: 40px;
      }

      &--next {
        right: 40px;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .item-block-content .right {
    margin-left: 20px;
  }
  .item-block-content .left {
    width: 520px;
  }
  .card-slider__main {
    width: 405px;
  }
  .single-exchange {
    padding-right: 5%;

    .text {
      li {
        line-height: 17px;
      }
    }
  }
  .exchange {
    padding: 80px 0;
  }
  .prod-item .price p {
    display: flex;
    flex-direction: column;
  }
  .container {
    max-width: 1280px;
  }
  .banner-slide {
    .text {
      max-width: 421px;
      padding: 55px 0;
    }
  }

  .header .logo {
    margin-right: 30px;
  }
  .catalog {
    left: 195px;
  }
  .catalog-btn {
    padding: 22px 16px;
  }
  .search-block {
    margin-left: 2.4%;
    width: 24.5%;
    margin-right: auto;
  }
  .call-us {
    margin-left: 3%;
  }
  .header-control {
    margin-left: 2.6%;
    margin-right: 1.8%;
  }
  .lang {
    margin-left: auto;
  }
}

@media screen and (max-width: 1500px) {

  .home-banner, .catalog-mini, .row-items, .our-brands {
    .slider-btn {
      &--prev {
        left: 5px;
      }

      &--next {
        right: 5px;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .thanks-info__block {
    width: 45%;
    padding-left: 30px;
  }
  .checkout-thanks {
    padding: 40px 0 80px;
  }
  .checkout-order {
    padding-left: 40px;
  }
  .checkout-order__content {
    padding-right: 40px;
  }
  .checkout-steps {
    width: 500px;
    padding-right: 30px;
  }
  .card-slider__main {
    height: 400px;
    .slick-list, .slick-track {
      height: 100%;
    }
  }
  .item-block-content .head {
    display: none;
  }
  .tab-container {
    max-width: calc((100% - 9%) - 330px);
  }
  .rev-list {
    flex-wrap: nowrap;
    overflow-x: auto;
    row-gap: 20px;
    column-gap: 20px;
    padding-bottom: 14px;
  }
  .item-tabs {
    margin-bottom: 80px;
  }
  .item-block {
    margin-bottom: 40px;
  }
  .item-tab:not(.reviews) .single-brand {
    width: calc((100% / 3) - (70px / 3));
  }
  .single-rev {
    flex-shrink: 0;
    width: calc(50% - (20px / 2));
  }
  .prod-info {
    margin-right: 0;
  }
  .card-slider__thumbs {
    max-width: calc(75% - 5px);
    margin-right: 5px;
  }
  .card-slider__thumbs .card-slide {
    margin-bottom: 0;
    margin-right: 6px;

  }
  .item-video-play {
    width: 25%;
    height: 104px;
    border: 1px solid #e5e5e5;
  }
  .item-video-play {
    left: auto;
    right: 0;
  }
  .prod-info__buttons {
    max-width: none;
  }
  .card-slider {
    flex-direction: column-reverse;
    height: auto;
  }
  .card-slider__main {
    width: 100%;
    margin-bottom: 5px;
  }
  .item-info {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .prod-usef {
    margin-left: 0;
    margin-top: 24px;
    width: 100%;
  }
  .item-block .top {
    display: flex;
    margin-bottom: 15px;
  }
  .acc-order__top {
    .o-name, .o-date {
      width: 23%;
    }
    .o-amount, .o-pay, .o-sum {
      width: calc(51% / 3);
    }
  }
  .acc-order__line {
    &::after {
      width: calc(100% - 40px);
      left: 20px;
    }
    .o-img {
      margin-left: 20px;
    }
    div.o-name {
      width: calc(46% - 102px);
    }
    div.o-amount, div.o-price, div.o-sum {
      width: calc(51% / 3);
    }
  }
  .acc-order__detail {
    padding-left: 20px;
    padding-right: 20px;

    .o-deliv, .o-pay, .o-address, .o-number {
      width: 25%;
    }
  }
  .account-favs {
    row-gap: 10px;
    column-gap: 10px;
    zoom: 0.9;
    .prod-item {
      width: calc((100% / 3) - (20px/3));
    }
  }
  .cat-prod {
    row-gap: 10px;
    column-gap: 10px;
    zoom: 0.8;

    .prod-item {
      width: calc((100% / 3) - (20px / 3));
    }
  }
  .header-control .cart p {
    display: none;
  }
  .container {
    max-width: 1170px;
  }
  .prod-item .avail {
    padding-right: 8px;
  }
}

@media screen and (max-width: 1300px) {
  .row-items .row-items__container:not(.swiper-container) {
    row-gap: 20px;
    column-gap: 20px;
    .prod-item {
      width: calc((100% / 3) - (40px / 3));
    }

  }
.single-rev {
  width: 66%;
}
  .acc-reviews__rev .r-name {
    width: 200px;
  }
  .acc-reviews__rev .r-comment {
    margin-left: 30px;
    padding-right: 7%;
  }
  .acc-order__line div:not(.o-img) a {
    font-size: 12px;
    line-height: 1.3;
  }
  .account-favs {
    row-gap: 10px;
    column-gap: 10px;
    zoom: 1;
    .prod-item {
      width: calc((100% / 2) - 5px);
    }
  }
  .account-info {
    flex-direction: column;
  }
  .account-redact {
    width: 100%;
    padding: 0 !important;
  }

  .container {
    max-width: 1100px;
  }
  .map-block {
    padding-bottom: 80px;
  }
  .contacts {
    padding: 40px 0 70px;
  }
  .single-contact {
    padding: 30px 20px;

    p {
      font-size: 24px;
      line-height: 30px;
      padding-bottom: 12px;
      margin-bottom: 60px;
    }

    .text {
      p, a {
        line-height: 25px;
      }
    }
  }
  .footer-column {
    margin-right: 5%;
  }
  .single-blog {
    padding: 34px 28px;
  }
  .item-link {
    height: 340px;
    padding: 34px 29px;
  }
  .catalog {
    left: 166px;
  }
  .header .logo {
    height: 37px;
  }
  .search-block {
    width: 21%;

  }
  .search-field {
    height: 46px;

    input {
      font-size: 12px;
      line-height: 1.2;

      &::placeholder {
        font-size: 12px;
        line-height: 1.2;
      }
    }
  }

}

@media screen and (max-width: 1200px) {
  .item-tabs__line {
    overflow-x: auto;
  }

  .tab-btn {
    flex-shrink: 0;
  }
  .home-banner, .catalog-mini, .row-items, .our-brands {
    .slider-btn {
      display: none;
    }
  }
  .seo-block {
    margin-bottom: 80px;
    margin-top: 40px;
  }
  .seo-text {

    max-height: 385px;
    padding-right: 25px;

    h1 {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 6px;
    }

    h2, h3 {
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 6px;
    }

    h4, h5, h6 {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 6px;
    }

    p, li {
      margin-bottom: 13px;
    }

    ul {
      margin-bottom: 14px;
    }
  }
  .seo-block .img {
    margin-left: 4%;
    width: 44%;
    padding-top: 25%;
  }
  .catalog-mini__container .slide-cat a .img {
    height: 100px;
  }
  .catalog-mini {
    padding: 50px 0 80px;
  }
  .catalog {
    ul {
      li {
        width: calc(100% / 5);
        padding-top: calc(100% / 5);

        a {
          padding: 20px 10px;
        }

        &:nth-child(6n) {
          border-right: 1px dashed #C3CCD1;
        }

        &:nth-child(5n) {
          border-right: none;
        }
      }
    }
  }
  .catalog ul li a p {
    font-size: 1vw;
  }
}

@media screen and (max-width: 1100px) {
  .thanks-table {
    margin-top: 25px;
    padding: 31px 24px;
  }
  .checkout-order {
    padding-left: 20px;
  }
  .checkout-step__head .number {
    width: 34px;
    height: 34px;
  }
  .checkout-step__content {
    padding: 17px 0 17px 20px;
    margin-left: 17px;
    width: calc(100% - 17px);
  }
  .checkout-page {
    padding: 50px 0 80px;
  }
  .checkout-order__content {
    padding-right: 20px;
    margin-top: 25px;
  }
  .checkout-steps {
    width: 420px;
    padding-right: 20px;
    flex-shrink: 0;
  }
  .item-card {
    display: none;
  }
  .tab-container {
    max-width: none;
    width: 100%;
  }
  .acc-order__detail {
    flex-wrap: wrap;
    .o-deliv , .o-number, .o-address, .o-pay {
      width: 50%;
    }
    div:nth-child(even) {
      border-right: none;
    }
    div:nth-child(odd) {
      padding-left: 0;
    }
  }
  .acc-order__line {
    flex-wrap: wrap;
    div.o-img {
      margin-bottom: 20px;
    }
    div.o-name {
      width: calc(72% - 102px);
      margin-bottom: 20px;
    }
    div.o-amount {
      width: 25%;
      margin-bottom: 20px;
    }
    div.o-price, div.o-sum {
      width: calc(72% / 2);
    }
    div.o-price {
      padding-left: 20px;
    }
  }
  .acc-order__top {
    flex-wrap: wrap;
    padding-bottom: 19px;
    &::before {
      top: 21px;
      transform: translate(0, 0);
    }
    &::after {
      top: 60px;
    }
    .o-name {
      width: 36%;
      margin-bottom: 20px;
    }
    .o-date {
      width: 36%;
      margin-bottom: 20px;
    }
    .o-amount {
      width: 25%;
      margin-bottom: 20px;
    }
     .o-pay, .o-sum {
       display: none;
      width: calc(72% / 2);
    }
  }
  .acc-order {
    &.active {
      .acc-order__top {
        padding-bottom: 36px;
        .o-pay, .o-sum {
          display: flex;
        }
      }
    }
  }
  .cart-line {
    max-width: 866px;
    width: 100%;
  }
  .modal-container {
    padding: 26px 26px 30px;
  }
  .cart-items {
    padding-right: 15px;
  }
  .region-container {
    flex-direction: column;

    .left {
      width: 100%;
      margin-bottom: 30px;
    }

    .right {
      width: 100%;
      margin: 0;
    }
  }
  .delivery-type {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    position: static;

    > .img {
      position: relative;
      margin-top: 35px;
      transform: none;
      top: auto;
      left: auto;
      width: 90%;
      padding-top: 58%;

      img {

      }
    }
  }
  .delivery-block {
    padding-left: 0;
  }
  .del-types {
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .delivery-type {
    padding: 45px 0 70px;
  }
  .single-type {
    width: 50%;
    box-sizing: border-box;
    padding-right: 40px;
  }
  .exchange {
    padding: 40px 0 30px;
  }
  .exchange-list {
    row-gap: 25px;
  }
  .single-exchange {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 45px;

    .img {
      margin-right: 0;
      margin-bottom: 17px;
    }
  }
  .sorting {
    margin-left: 20px;
  }
  .items-show {
    margin-left: 20px;
  }
  .cat-prod {
    row-gap: 10px;
    column-gap: 10px;
    zoom: 1;

    .prod-item {
      width: calc((100% / 2) - (10px / 2));
    }
  }
  .car-zone {
    padding: 40px 0 65px;
  }
  .car-zone__row {
    .img {
      width: 52%;
      margin-right: 4%;
    }

    .text {
      width: 44%;

      h2, h1, span {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 14px;
      }

      p {
        margin-bottom: 14px;
      }
    }
  }
  .car-zone__text {
    margin-top: 70px;
    flex-direction: column;

    .left, .right {
      width: 100%;
      margin: 0;
    }
  }
  .top-footer {
    padding: 75px 0 25px;
    position: static;
  }
  .demiweb {
    left: 35px;
  }
  .footer-row {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer-column {
    width: 50%;
    margin-right: 0;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .footer {
    position: relative;
    padding-bottom: 45px;
  }

  .item-link {
    .text {
      .btn {
        margin-top: 17px;
      }

      p {
        font-size: 18px;
        line-height: 27px;
      }

      span {
        font-size: 12px;
        line-height: 1.2;
      }

    }
  }
  .single-useful {
    padding: 30px 12px 16px;
  }
  .search-block {
    width: 24%;
    flex-grow: 1;
  }
  .call-us {
    display: none;
  }
  .prod-item {
    .about {
      flex-direction: column;
      align-items: flex-start;
    }

    .price {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 992px) {
  .thanks-info {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .thanks-info__block {
    width: 100%;
    padding-left: 0;
    margin-top: 80px;
  }
  .checkout {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 28px;
  }
  .checkout-order__content {
    max-height: 316px;
  }
  .checkout-steps {
    width: 70%;
    padding-right: 0;
  }
  .checkout-order {
    width: 100%;
    padding-left: 0;
    border-left: none;
  }
  .item-block-content {
    flex-direction: column;
  }
  .item-block-content .left {
    width: 60%;
  }
  .item-block-content .right {
    margin-left: 0;
    margin-top: 25px;
  }
  .item-tab:not(.reviews) .videos {
    flex-wrap: nowrap;
    row-gap: 14px;
    column-gap: 14px;
    iframe, video {
      width: 80%;
      flex-shrink: 0;
      height: 340px;
    }
  }
  .acc-reviews__rev {
    flex-wrap: wrap;
    .r-name {
      width: calc(100% - 93px);
      padding-right: 40px;
      box-sizing: border-box;
    }
    .r-comment {
      margin-left: 0;
      margin-top: 15px;
      padding-right: 60px;
    }
  }
  .single-type {
    width: 100%;
    padding-right: 0;
  }
  .car-zone {
    background: url("../img/sto-bg.svg") no-repeat right 50% / 140px;
  }
  .car-zone__row {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .img {
      width: 100%;
      padding-top: 59%;
      margin-right: 0;
      margin-bottom: 14px;
    }

    .text {
      width: 100%;
    }
  }
  .text-block {
    padding: 40px 0 70px;

    h1, h2, h3, h4 {
      margin-top: 30px;
      padding-top: 30px;
    }

    h5, h6 {
      margin-top: 29px;
    }

    ul {
      li {
        margin-bottom: 15px;
      }
    }

    h1, h2 {
      font-size: 24px;
      line-height: 30px;
    }

    h3, h4 {
      font-size: 18px;
      line-height: 24px;
    }
  }
  .hero {
    min-height: 260px;
  }
  .hero-container {
    padding: 17px 0;
  }
  .hero-text {
    padding: 17px 0;
  }
  .hero-title {
    font-size: 32px;
    line-height: 44px;
  }
  .blog {
    padding: 30px 0 70px;

    .blog-container {
      margin: 70px 0 40px;
      flex-wrap: wrap;
      overflow: visible;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;

    }
  }
  .footer {
    background: url("../img/f-bg.svg") no-repeat right bottom / 140px, #222222;

  }
  .bottom-footer {
    padding: 32px 0 20px;
  }
  .bottom-footer__row {

    justify-content: flex-start;
    flex-wrap: wrap;

    .copyright {
      order: 2;
      width: 50%;
    }

  }
  .footer-logo {
    order: 1;
    margin: 0;
    //margin-left: -10px;
    margin-right: 10px;
  }
  .pay-cards {
    order: 3;
    margin-left: 0;
    margin-top: 20px;
  }
  .has-gradient {
    padding-top: 60px;

    &::before {
      height: 58px;
    }
  }

  .blog-container {
    row-gap: 10px;
    column-gap: 10px;
  }
  .blog-part {
    position: relative;

    .top-title {
      .btn {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }

  .single-blog {
    width: calc(50% - 5px) !important;

    .text {
      .name {
        font-size: 18px;
        line-height: 27px;
        margin-top: 7px;
      }

      .btn {

      }
    }
  }
  .item-link {
    width: calc(50% - 15px) !important;
  }
  .useful-list {
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 70px;
  }
  .single-useful {
    margin-top: 130px;
    width: calc(50% - (45px / 2));

    .text {
      padding-top: 14.5%;
    }

    .img {
      z-index: 4;
    }

    &:hover {
      .img {
        transform: translate(0, -50%);
      }
    }
  }
  .sub-title {
    margin-top: 9px;
  }
  .title {
    font-size: 24px;
    line-height: 1.2;
  }
  .prod-item {
    .fav, .rem {
      width: 35px;
      height: 35px;

    }

    .img {
      height: 120px;
    }

    .text {
      padding: 16px 17px 0;
    }

    .btn {
      width: calc(100% + 34px);
      margin-left: -17px;
      margin-right: -17px;
    }
  }
  .prod-item .avail {
    padding-left: 17px;
    margin-left: -17px;
  }
  .semi-cat__item {
    height: 350px;

    padding: 35px 28px;

    .text {
      p {
        font-size: 18px;
        line-height: 27px;
      }

      span {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
  .home-banner .slider-btn, .catalog-mini .slider-btn {
    display: none;

  }
  .catalog-mini {
    .dots {
      display: flex;
      width: 100%;
      justify-content: center;
      position: absolute;
      bottom: 45px;
    }
  }
  .home-banner .dots {
    padding: 0 35px;
    box-sizing: border-box;
    justify-content: flex-start;
  }
  .banner-slide {
    .text {
      padding: 30px 0 100px;
      justify-content: flex-end;

      > p {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }

    .text-title {
      p {
        font-size: 50px;

        strong {
          font-size: 21px;
        }
      }
    }
  }
  .desk-only {
    display: none;
  }
  .mob-only {
    display: block;
  }
  .search-icon {
    display: flex;
    width: 38px;
    height: 38px;
    padding: 10px;
  }
  .header .logo {
    height: 44px;
    margin-right: 24px;
    margin-top: 13px;
    margin-bottom: 13px;
  }
  .search-block {
    width: auto;
    flex-grow: 0;
    margin-left: auto;
    margin-right: 0;

    &.open {
      .search-field {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }
  .header-control {
    margin-left: 0;
  }
  .lang {
    margin-left: 0;
  }
  .burger-container {
    margin-left: 0;
  }
  .catalog-btn {
    margin-right: 20px;
  }
  .search-field {
    position: absolute;
    padding: 6px 35px;
    box-shadow: 0 0 9px 3px rgba(18, 18, 18, 0.12);
    top: 100%;
    left: -35px;
    right: -35px;
    background: #fff;
    width: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &::after {
      right: 55px;
    }

  }
  .catalog {
    left: 84px;
  }
  .catalog-btn {
    width: 200px;
  }
}

@media screen and (max-width: 900px) and (min-width: 768px) {
  .category-content #column-left {
    width: 294px;
  }
  .ocf-search-btn-static, .ocf-search-btn-popover {
    padding: 4px !important;
  }
}

@media screen and (max-width: 900px) {
  .acc-order__line {

    div.o-img {
      margin-bottom: 20px;
      width: 70px;
      height: 70px;
    }
    div.o-name {
      width: calc(100% - 90px);
      margin-bottom: 20px;
    }
    div.o-amount {
      padding-left: 20px;
      margin-bottom: 0;
    }
    div.o-price, div.o-sum, div.o-amount {
      width: calc(100% / 3);
    }
    div.o-price {
      padding-left: 0;
    }
  }
  .acc-order__top {


    .o-name {
      width: 50%;
      margin-bottom: 20px;
    }
    .o-date {
      width: 50%;
      margin-bottom: 20px;
    }
    .o-amount {
      width: calc(100% / 3);
      margin-bottom: 0;
      margin-top: 15px;
      display: none;
    }
    .o-pay, .o-sum {
      margin-top: 15px;
      width: calc(100% / 3);
    }
  }

  .acc-order {
    &.active {
      .acc-order__top {
        .o-pay, .o-sum, .o-amount {
          display: flex;
        }
      }
    }
  }
  .category-head {
    flex-wrap: wrap;
  }
  .items-show {
    flex-direction: column;

    p {
      margin-right: 0;
      margin-bottom: 4px;
    }
  }
  .category {
    padding-top: 40px !important;
  }
  .category-content {
    padding-bottom: 60px;
  }
  .sorting p {
    display: none;
  }
  .sorting {
    order: 1;
    margin-left: 0;
  }
  .items-show {
    order: 2;
  }
  .amount-items {
    order: 4;
    margin-left: 20px;
  }
  .contacts-list {
    flex-wrap: wrap;
  }
  .single-contact {
    flex-grow: 1;
    width: 50%;

    &:nth-child(odd) {
      border-left: 1px solid #e5e5e5;
    }
  }
  .semi-cat__container {
    overflow: visible;
  }
  .semi-cat__item {
    width: 100%;
  }
  .semi-cat {
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 90px;

    .dots {
      bottom: 60px;
    }
  }
}

@media screen and (max-width: 769px) {
  .text-block {
    img {
      width: 100% !important;
    }
    .container {

    }
  }
  .set-rate {
    margin-top: 10px;
  }
  .modal-comment {
    flex-direction: column;
    align-items: flex-start;
    .top {
      margin-bottom: 22px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .form {
      form {
        .input-cont {
          margin-bottom: 13px;
        }
        textarea {
          min-height: 120px;
        }
      }
    }
    .bottom {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      .left {
        margin-bottom: 0;
      }
    }
    .right {
      width: 100%;
      padding-left: 0;
    }
    .left {
      width: 100%;
      justify-content: center;
      padding-right: 0;
      margin-bottom: 10px;
      > p {
        font-size: 22px;
        text-align: center;
        line-height: 1.1;
      }
    }
  }
  .thanks-info__block {
    margin-top: 45px;
  }
  .thanks-block {
    margin-bottom: 45px;
  }
  .thanks-block {
    span {
      font-size: 24px;
      line-height: 28px;
    }
    .img {
      margin-bottom: 8px;
    }
  }
  .account {
    padding: 30px 0;
  }
  .account-block {
    margin-top: 35px;
  }
  .account-block {
    flex-direction: column;
  }
  .account-list {
    width: 100%;
  }
  .account-content {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
  .acc-current {
    display: flex;
  }
  .acc-list {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    margin-top: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease, visibility 0.4s ease, padding-top 0.3s ease;
    button {
      margin-left: -4px;
    }
    a {
      &.active {
        display: none;
      }
      padding-bottom: 13px;
      margin-bottom: 13px;

    }
  }
  .account-list {
    padding: 13px 21px;
    &.open {
      .acc-list {
        opacity: 1;
        padding-top: 13px;
        margin-top: 13px;
        border-top: 1px dashed #c3ccd1;
        visibility: visible;
        max-height: 700px;
      }
    }
  }
  .logs-container {
    padding: 30px 0 40px;
    box-sizing: border-box;
  }
  .login-block__head  {
    margin-bottom: 26px;
    p {
      font-size: 25px;
      line-height: 36px;
    }
    a {
      font-size: 21px;
      line-height: 23px;
    }
  }
  .cart-line .c-price {
    display: none;
  }
  .cart-line {
    .c-name {
      width: calc(60% - 123px);
    }

    .c-quan {
      width: 22%;
    }

    .c-total {
      width: 25%;
    }

  }
  .region-list {
    flex-wrap: wrap;

    ul {
      width: 50%;
      margin-left: 0;
    }
  }
  .car-zone {
    padding: 40px 0;
  }
  .map {
    height: 380px;
    margin-top: 30px;
  }
  .footer-column ul li {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      line-height: 1.2;
    }
  }
  .our-brands {
    padding-top: 30px;
    margin-bottom: 80px;
    overflow: hidden;

    .slider-btn {
      display: none;
    }
  }
  .brands-list {
    margin-top: 36px;
    margin-bottom: 28px;
    overflow: visible;
  }
  .blog-part .top-title .btn {
    padding: 13px 20px;
    width: 210px;
  }
  .seo-block {
    .container {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .img {
      width: 100%;
      margin-top: 34px;
      margin-left: 0;
      padding-top: 61%;
    }
  }
  .seo-text {
    padding-right: 16px;
  }

  .catalog ul li {
    width: calc(100% / 4);
    padding-top: calc(100% / 4);

    &:nth-child(5n) {
      border-right: 1px dashed #c3ccd1;
    }

    &:nth-child(4n) {
      border-right: none;
    }

    a {
      p {
        font-size: 1.2vw;
      }
    }
  }
  .tab-btn {
    padding: 0 30px 14px;
    &:first-child {
      padding-left: 0;
    }
  }
  .item-tabs__content {
    padding-top: 24px;
  }
  .item-tabs__line {
    padding-bottom: 12px;
    &::-webkit-scrollbar{
      width: 5px;
      height: 5px;
    }
    &::-webkit-scrollbar-track {
      width: 6px;
      height: 6px;
    }
  }
}

@media screen and (max-width: 767px) {
  .items-show {
    display: none;
  }
  .prod-cont {
    margin-left: 0;
  }
  .ocf-btn-mobile-static {
    order: 3;
    margin-left: 16px;
    margin-bottom: 0 !important;
    padding: 0 !important;
    height: 38px;
    margin-top: 2px;

    button {
      border: 1px dashed #C3CCD1;
      filter: drop-shadow(0 8px 0 #F8F9FB) drop-shadow(0 -8px 0 #F8F9FB) drop-shadow(-8px 0 0 #F8F9FB) drop-shadow(8px 0 0 #F8F9FB);
      background: #F8F9FB;
      border-radius: 3px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #4E4E4E;
      box-sizing: border-box;
      padding: 4px 30px;
    }

  }
  .category-content #column-left {
    filter: none !important;
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    transform: translate(-100%, 0);

  }
  .category-content {
    .ocf-selected .ocf-value-input::before {
      background-color: #fff;
    }
    .ocf-body > .ocf-filter-list {
      width: calc(100% + 6px);
      padding-right: 6px;
      box-sizing: border-box;
      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
      }
    }
    .ocf-theme-light-block .ocf-filter {
      padding: 12px 0 0 !important;
      margin: 14px 0 0;
    }

    .ocf-filter-header, .ocf-module-page-header {
      padding: 0;
    }

    .ocf-theme-light-block .ocf-module-page {
      background-image: none !important;
    }

    .ocf-value-slider {
      padding: 0 20px;
    }

    .ocf-container {
      left: 100%;
      padding: 20px 20px 0;
      background: #fff;
    }

    .category-content .ocf-value, .category-content .ocf-value:active, .category-content .ocf-value:focus, .category-content .ocf-value:hover, .category-content .ocf-value:visited {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .ocf-header {
      padding: 0;
    }

    .ocf-btn-show-filters {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }

    .ocf-footer {
      padding: 10px 0;
    }

    .ocf-filter-body > .ocf-value-list {
      position: static !important;
      transform: none !important;
      padding: 0 !important;
      overflow: visible !important;
      border: none !important;
    }
  }


}
@media screen and (max-width: 720px) {
  .modal-container {
    width: 100%;
  }
  .modal-share p {
    font-size: 20px;
    line-height: 36px;
  }
  .modal-share ul {
    margin: 26px 0;
  }
  .modal-share ul li a {
    width: 45px;
    height: 45px;
  }
  .copy-link {
    margin-bottom: 25px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;

    .input-cont {
      margin-right: 0;
      width: 100%;
      margin-bottom: 5px;
      min-width: 0;
    }
    .btn {
      width: 100%;
      height: 54px;
    }
  }
}
@media screen and (max-width: 640px) {
  .bottom-footer__row .copyright {
    width: 100%;
  }
  .modal-comment {
    margin-bottom: 25px;
  }
  .checkout-order__content {
    padding-right: 6px;
    width: calc(100% + 6px);
    margin-right: -6px;
  }
  .checkout-order__footer {
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.15);
    background: #fff;
    margin-top: 0;
    padding: 19px;
    box-sizing: border-box;
    align-items: center;
    .total {
      flex-direction: column;
      align-items: center;
    }
    .buttons {
      width: 100%;
      .btn {
        width: 100%;
      }
    }
  }
  .checkout-order__footer .buttons {
    flex-direction: column;
    .btn {
      margin-bottom: 6px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .checkout-step__tabs-content {
    padding-top: 20px;
  }
  .checkout-steps {
    width: 100%;
  }
  .checkout-order__content {
    .acc-order__line {
      .o-img {

      }
      .o-name {
        width: calc(100% - 70px);
      }
      .o-amount {
        width: 100%;
        padding-left: 80px;
      }
      .o-sum {
        width: 100%;
        padding-left: 80px;
      }
    }
  }
  .single-rev {
    padding: 20px;
    width: 90%;
  }
  .card-slider__thumbs .card-slide {
    height: 67px;
    .head {
      flex-direction: column;

      align-items: flex-start;
      justify-content: flex-start;
      p {
        margin-bottom: 4px;
      }
    }
  }
  .item-video-play {
    height: 65px;
    a {
      width: 28px;
      height: 28px;
      svg {
        width: 8px;
      }
    }
  }
  .modal-container {
    padding-bottom: 0;
  }
  .card-slider__main {
    height: 300px;
  }
  .item-block-content .left {
    width: 100%;
  }
  .cart-modal__content {
    max-height: 305px;
  }
  .cart-modal__footer {
    flex-direction: column;
    width: calc(100% + 52px);
    margin-left: -26px;
    margin-right: -26px;
    box-shadow: 0 0 19px rgba(0, 0, 0, 0.15);
    padding-bottom: 30px;
    a {
      margin-bottom: 10px;
      margin-left: 0;
    }
    .total {
      margin-right: 0;
      margin-bottom: 12px;
    }
  }
  .cart-line {
    flex-wrap: wrap;
    position: relative;
    padding: 30px 0;

    .c-rem {
      position: absolute;
      top: 5px;
      right: 0;
    }

    .c-img {
      width: 60px;
      height: 60px;
    }

    .c-name {
      width: calc(100% - 60px);
      margin-bottom: 12px;
    }

    .c-quan {
      width: 50%;
      padding-right: 20%;
      box-sizing: border-box;
    }

    .c-total {
      width: 50%;
    }
  }
  .delivery-regions {
    background: url('../img/cart-l-b.png') no-repeat left bottom/50%, url('../img/cart-r-t.png') no-repeat right top/50%;
  }
  .region-list {
    ul {
      //width: 100%;
      li {
        line-height: 20px;

        &::before {
          top: 5px;
        }
      }
    }
  }
  .single-type {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .img {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  .single-exchange {
    width: 100%;
    padding-right: 0;
  }
  .single-contact {
    border: none;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    padding: 30px 0;

    > p {
      margin-bottom: 16px;
    }

    &:nth-child(odd) {
      border-left: none;
    }
  }

  .blog-tabs ul {
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .single-blog {
    width: 100% !important;
    flex-shrink: 0;
  }
  .other-list {
    margin-bottom: 65px;
  }
  .item-link {
    width: 100% !important;
  }
  .prod-item .img {
    height: 97px;
  }
  .row-items__container {
    overflow: visible;
  }
  .row-items .dots {
    display: flex;
    margin-top: 20px;
  }
  .prod-item .about {
    margin-bottom: 9px;
  }
  .row-items {
    overflow: hidden;
    padding-bottom: 80px;

    .slider-btn {
      display: none;
    }
  }
  .prod-item .code {
    display: none;
  }
  .prod-item .btn {
    height: 45px;
  }
  .prod-item .price p {
    font-size: 18px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

  }
  .prod-item .price {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    strong {
      font-size: 13px;
      line-height: 1.2;
    }
  }
  .prod-item .name {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 13px;
    line-height: 1.2;
  }
  main {
    padding-top: 56px;
  }
  .slider-banner {
    height: 565px;
  }
  .search-field {
    height: 57px;
  }
  .catalog-btn {
    height: 57px;
    position: absolute;
    top: 100%;
    left: -35px;
    right: -35px;
    padding: 15px 15px 15px 17px;
    width: auto;
    margin: 0;
    justify-content: center;

    p {
      line-height: 1;
    }
  }
  .catalog {
    top: calc(100% + 57px);
    left: -35px;
    right: -35px;
  }
  .catalog ul li a {
    padding: 20px 18px;
  }
  .row-items__container {
    margin-top: 32px;
  }
}

@media screen and (max-width: 600px) {
  .modal-comment .left > p {
    font-size: 16px;
  }
  .modal-comment {
    .item {
      .img {
        width: 60px;
        height: 60px;
      }
    }
  }
  .thanks-table__line {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 15px;
    padding-top: 12px;
    .right {
      margin-left: 0;
    }
  }
  .row-items .row-items__container:not(.swiper-container) {
    row-gap: 20px;
    column-gap: 20px;
    .prod-item {
      width: calc((100% / 2) - (20px / 2));
    }

  }
  .acc-reviews__rev .r-name {
    padding-right: 0;
    margin-top: 4px;
  }
  .acc-reviews__head {
    margin-bottom: 25px;
    .sorting {
      width: 100%;
      p {
        display: block;

      }
      .sort-selector {
        width: auto;
        flex-grow: 1;
      }
    }
  }
  .acc-reviews__rev {
    padding-bottom: 40px;
    .r-open {
      top: auto;
      right: auto;
      bottom: 0;
      left: 0;
    }
    .r-comment {
      padding-right: 0;
      .text {
        p {
          -webkit-line-clamp: 4;
        }
      }
      .date {
        margin-left:  auto;
      }
    }
  }

  .cat-prod {
    justify-content: flex-start;
    column-gap: 0;

    .prod-item {
      margin-right: 10px;

      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }
  .amount-items {
    margin-left: 0;
    margin-top: 12px;
  }
  .sort-select {
    width: 100%;
  }
  .sorting {
    width: 60%;
  }
  .ocf-btn-mobile-static {
    width: calc(40% - 16px);

    button {
      width: 100%;
    }
  }
  .hero {
    min-height: 150px;
  }
  .hero-container {
    padding: 11px 0;
  }
  .hero-text {
    padding: 12px 0;
  }
  .hero-title {
    font-size: 26px;
    line-height: 1.2;
  }
  .blog {
    .blog-container {
      row-gap: 30px;
      margin-top: 30px;
    }
  }
  .footer-row {
    flex-direction: column;
  }
  .footer-column {
    width: 100%;
  }
  .bottom-footer__row {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .single-brand {
    padding: 25px 20px;
    box-sizing: border-box;

    img {
      max-height: 47px;
    }
  }

  .catalog-mini {
    padding: 50px 0;
  }

  .catalog-mini__container {
    .slide-cat {
      width: 50%;
    }
  }
  .lang {
    display: none;
  }
  .menu {
    background: #fff;
  }
  .menu .lang {
    display: none;
    width: 100%;

    .lang-box {
      width: 100%;
      border: none;

      &:hover {
        border: none;
      }
    }

    ul {
      position: static;
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-start;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      box-shadow: none;
      border: none;
      padding: 12px 20px;
      width: 100%;

      li {
        border-right: 1px solid #e5e5e5;
        border-bottom: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        &:last-child {
          border-right: none;
        }

        a, span {
          line-height: 26px;
          text-align: center;
          width: 100%;
          border-bottom: none;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        a {
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  .burger-container.open {
    .menu {
      .lang {
        display: flex;
      }
    }
  }
  .catalog ul li {
    width: calc(100% / 3);
    padding-top: calc(100% / 3);

    &:nth-child(4n) {
      border-right: 1px dashed #c3ccd1;
    }

    &:nth-child(3n) {
      border-right: none;
    }

    a {
      p {
        font-size: 12px;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .form {
    .line {
      flex-direction: column;
      .input-cont {
        width: 100%;
        margin-bottom: 6px;
      }
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 20px;
      p {
        margin: 0;
      }
    }
  }
  .cart-modal__footer a {
    height: 46px;
  }
  .cart-modal__footer {
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    a {
      width: 100%;
    }
  }
  .clear-cart {
    margin-left: 10px;
    font-size: 12px;
    line-height: 18px;
  }
  .cart-line {
    .c-quan {
      width: 100%;
      margin-bottom: 10px;
      padding-left:72px;
    }
    .c-name {
      padding-right: 0;
    }
    .c-total {
      width: 100%;
      padding-left: 72px;
    }
  }
  .cart-modal__head .name span {
    display: none;
  }
  .cart-modal__head .name p {
    font-size: 21px;
    line-height: 34px;
  }
  .cart-modal__content {
    margin-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  .item-tab:not(.reviews) .brands {
    row-gap: 20px;
    column-gap: 20px;
    .single-brand {
      width: calc(50% - 10px);
    }
  }
  .modal-share ul {
    li {
      a {
        width: 32px;
        height: 32px;
      }
    }
  }
  .modal-share p {
    font-size: 17px;
    line-height: 22px;

  }
  .checkout-step__tabs-head {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .checkout-step__tabs-content .login-block__footer {
    align-items: flex-start;
  }
  .checkout-tab {
    width: 100%;
    margin-bottom: 5px;
    text-align: left !important;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .checkout-step__head .text {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    a {
      margin-top: 6px;
    }
  }
  .card-slider__main {
    height: 280px;
  }
  .item-tab:not(.reviews) span {
    font-size: 17px;
    margin-top: 23px;
    margin-bottom: 17px;
  }
  .item-tab:not(.reviews) table tr {
    padding: 13px 14px;
  }
  .item-tab:not(.reviews) table {
    width: calc(100% + 70px) !important;
    margin-left: -35px;
    margin-right: -35px;
  }
  .prod-avail {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .available-product {
    margin-bottom: 6px;
  }
  .acc-order__content {
    order: 3;
    margin-bottom: 30px;

  }
  .acc-order__line {
    &:last-child {
      margin-bottom: 30px;
    }

    div.o-img {
      margin-bottom: 20px;
      width: 70px;
      height: 70px;
    }
    div.o-name {
      width: calc(100% - 90px);
      margin-bottom: 20px;
    }

    div.o-price, div.o-sum, div.o-amount {
      width:100% ;
      padding-left: 100px;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 8px;
      p {
        margin-left: 5px;
      }
    }

  }
  .acc-order__top {
    padding-top: 115px;
    width: 50%;
    order: 1;
    padding-bottom: 0;
    &::after {
      right: -100%;
    }


    .o-name {
      width: 200%;
      height: 115px;
      margin-bottom: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
    .o-date {
      width: 100%;
      margin-bottom: 10px;
      display: none;
    }
    .o-amount {
      width: 100%;
      margin-bottom: 0;
      margin-top: 10px;
    }
    .o-pay, .o-sum {
      margin-top: 10px;
      width: 100%;
    }
    .o-sum {
      margin-top: 22px;
    }
  }
  .acc-order {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .acc-order {
    &.active {
      .acc-order__top {
        padding-bottom: 36px;
        .o-pay, .o-sum, .o-amount, .o-date {
          display: flex;
        }
      }
    }
  }
  .acc-order__detail {
    order: 2;
    width: 50%;
    margin-top: 115px;
    padding: 0;
    background: rgba(255, 255, 255, 0);
    div {
      &.o-pay {
        display: none;
      }
      width: 100% !important;
      border: none;
      padding: 0;
      margin-bottom: 11px;
      span {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 21px;
        color: #ABABAB
      }
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #4E4E4E;
        margin-top: 1px;
        margin-bottom: 0;
      }
      strong {
        display: none;
      }
    }
  }
  .login-block__footer {
    flex-direction: column;
    align-items: center;
    a {
      margin-right: 0;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
        margin-left: 0;
      }
    }
  }
  .pagination ul {
    justify-content: center;

    li {
      margin-right: 0;
      flex-grow: 1;

      a {
        &.prev {
          margin-right: auto;
        }

        &.next {
          margin-left: auto;
        }
      }
    }
  }
  .blog-container {
    overflow-x: auto;
    flex-wrap: nowrap;
    width: calc(100% + 70px);
    margin-left: -35px;
    margin-right: -35px;
    padding: 0 35px;
    box-sizing: border-box;
  }
  .single-useful {
    width: 100%;
  }
  .useful-list {
    margin-top: 0;
  }
  .catalog-mini__container .slide-cat {
    padding: 10px 4px;
  }
  .catalog-mini {
    .dots {
      display: none;
    }
  }
  .catalog-mini__container .slide-cat a .img {
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }
  .catalog-mini__container .slide-cat a p {
    font-size: 12px;
  }
  .menu {
    right: -35px;
    left: auto;
    width: 100vw;

    ul {
      width: 100%;
    }
  }
  .catalog {
    max-height: calc(100vh - 127px);
  }
  .catalog ul li {
    width: calc(100% / 2);
    padding-top: 44%;

    &:nth-child(3n) {
      border-right: 1px dashed #c3ccd1;
    }

    &:nth-child(2n) {
      border-right: none;
    }

  }
  .catalog ul li a .img {
    height: 78px;
    width: auto;

    img {
      height: 100%;
      width: auto;
    }
  }
  .header-control {
    margin-right: 0;
  }
}

@media screen and (max-width: 365px) {
  .item-tab:not(.reviews) table {
    width: calc(100% + 40px) !important;
    margin-left: -20px;
    margin-right: -20px;
  }
  .account-favs {
    row-gap: 10px;
    column-gap: 10px;
    zoom: 1;
    .prod-item {
      width: 100%;
    }
  }
  .modal-window {
    padding: 30px 15px;
  }
  .cart-modal__head .name p {
    font-size: 16px;
    line-height: 21px;
  }
  .region-list {
    ul {
      width: 100%;
    }
  }
  .blog-container {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
  }
  .seo-text {
    p, li {
      font-size: 12px;
      line-height: 18px;
    }
  }
  .other-list {
    column-gap: 15px;
    row-gap: 15px;
  }
  .item-link {
    padding: 20px;
    height: 280px;

    .text {
      .btn {
        width: 100%;
      }
    }
  }
  .row-items__container {
    margin-top: 32px;
  }
  .rating-stars {
    img {
      width: 14px;
      margin-right: 3px;
    }
  }
  .title {
    font-size: 18px;
    line-height: 1.2;
  }
  .prod-item {
    .avail {
      padding-left: 10px;
      margin-left: -10px;
      margin-right: 0;
    }

    .btn {
      width: calc(100% + 20px);
      margin-left: -10px;
      margin-right: -10px;
    }

    .text {
      padding: 10px 10px 0;
    }
  }
  .slider-banner {
    height: 420px;
  }
  .home-banner .dots {
    padding: 0 20px;
  }
  .banner-slide {
    .text {
      padding-bottom: 50px;

      .btn {
        width: 100%;
      }

      > p {
        line-height: 1.2;
      }

      > span {
        strong {
          font-size: 24px;
        }
      }
    }

    .text-title {
      p {
        font-size: 42px;

        strong {
          font-size: 16px;
        }
      }
    }
  }
  .container {
    padding: 0 20px;
  }
  .header .logo {
    margin-right: 10px;
  }
  .catalog-btn, .catalog, .search-field {
    left: -20px;
    right: -20px;
    box-sizing: border-box;
  }
  .menu {
    right: -20px;

    ul {
      padding: 7px 0;
    }
  }
  .menu ul li {
    padding: 0 20px;

    a {
      line-height: 36px;
    }
  }
  .search-field {
    padding: 6px 20px;
    width: auto;
  }
  .catalog ul li a .img {
    height: 52px;
    width: auto;

    img {
      height: 100%;
      width: auto;
    }
  }
  .catalog ul li a p {
    font-size: 11px;
  }
}

