@import "fonts";


$main-font: Arial, sans-serif;
$second-font: 'HelveticaNeueCyr', sans-serif;
$size: 14px;
$black: #4e4e4e;
$grey: #ABABAB;
$gradient: linear-gradient(180deg, #4592CA 0%, #1877BD 100%);
$white: #ffffff;
$blue: #75C2FA;
$red: #ffcba5;
$grey: #696969;
$grey-light: #818181;

$black: #242424;

$main-green: linear-gradient(90deg, #CCD500 0%, #D7FA00 100%);
$green: #D7FA00;

$light-c7: #c7c7c7;
body, html {
  margin: 0;
  font-family: $main-font;
  min-width: 320px;
  //overflow-x: hidden;
  //background: $black;
  //scroll-behavior: smooth;
  //&.no-scroll {
  //  overflow: hidden;
  //}

}

body {
  //overflow-x: hidden;
  max-width: 100%;
}

* {
  letter-spacing: 0;
  //font-family: $main-font;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

img.lazyload, video.lazyload {
  opacity: 0;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.is-loaded {
  opacity: 0;
  visibility: visible;
  //transition: opacity 0.3s ease, visibility 0.3s ease;
  animation: faddingImgAnim 0.5s ease;
}

.header-menu {
  display: none;
}


@keyframes faddingImgAnim {
  0% {
    visibility: hidden;
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    filter: blur(0px);
  }
}


.container {
  width: 100%;
  max-width: 1480px;
  padding: 0 35px;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
  font-family: $main-font;

  &.no-scroll {
    overflow: hidden;
  }
}


.wrapper {
  width: 100%;
}

html {
  height: auto;
  min-height: 100%;
  font-size: 16px;
  display: flex;
}

.wrapper,
body {
  height: auto;
}

main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  //transition: padding-top 0.4s ease;
}


p, h1, ul, ol, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer {
  flex-shrink: 0;
  position: relative;
}

.backcover {
  z-index: 9;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &.open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 10;
  position: sticky;
  top: 0;
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.07);

  .logo {
    height: 45px;
    width: auto;
    margin-right: 42px;
    margin-top: 18px;
    margin-bottom: 18px;

    img {
      height: 100%;
      width: auto;
    }
  }
}

.header__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
}

.catalog-btn {
  padding: 22px;
  box-sizing: border-box;
  background: $gradient;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  color: #FFFFFF;
  box-shadow: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  .burg {
    width: 27px;
    height: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 9px;

    span {
      height: 2px;
      display: inline-block;
      border-radius: 1px;
      background: #fff;
      width: 100%;
      transition: width 0.3s ease;

      &:nth-child(1) {
        width: 22px;
      }

      &:nth-child(2) {
        width: 17px;
      }
    }
  }

  p {
    position: relative;
    margin-right: 12px;

    &::after {
      width: 9px;
      height: 9px;
      display: inline-block;
      background: url("../img/arr-w-r.svg") no-repeat center/ 100%;
      content: '';
      position: absolute;
      left: calc(100% + 3px);
      top: 50%;
      transform: translate(0, -64%);
    }
  }

  &:hover {
    transition: box-shadow 0.3s ease;
    box-shadow: inset 0 0 50px 24px rgba(18, 18, 18, 0.22);

    .burg {
      span {
        width: 100% !important;
        transition: width 0.3s ease;
      }
    }
  }

  &.open {
    p {
      &::after {
        transform: translate(0, -64%) rotate(180deg);
      }
    }
  }
}

.search-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 28.5%;
  margin-left: 3.8%;
}

.search-icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  padding: 6px;
  cursor: pointer;
  display: none;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0);

  img {
    width: 100%;
    height: 100%;
  }
}

.search-field {
  height: 53px;
  width: 100%;
  position: relative;


  &::after {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    width: 16px;
    height: 16px;
    display: inline-block;
    content: '';
    background: url("../img/ser-b.svg") no-repeat center/100%;
    pointer-events: none;
  }

  input {
    width: 100%;
    height: 100%;
    padding: 4px 20px;
    box-sizing: border-box;

    border: 1px solid #D5D5D5;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: $black;
    outline: none;
    box-shadow: none;

    transition: box-shadow 0.3s ease, border 0.3s ease;

    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 27px;
      color: #ABABAB;
    }

    &:hover {
      box-shadow: 0 0 9px 3px rgba(78, 78, 78, 0.12);
      transition: box-shadow 0.3s ease, border 0.3s ease;

    }

    &:focus, &:active {
      border: 1px solid $black;
      transition: box-shadow 0.3s ease, border 0.3s ease;

    }
  }
}

.call-us {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3.7%;

  &:hover {
    .call-us__numbers {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      pointer-events: auto;
    }
  }
}

.call-us__head {
  margin-right: 11px;

  a {
    text-decoration: none;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.1;
    color: $black;
    margin-bottom: 4px;
    display: inline-block;
    position: relative;

    &:hover {
      text-decoration: underline;
    }

    &::after {
      width: 7px;
      height: 7px;
      background: url("../img/arr-b-d.svg") no-repeat center/100%;
      display: inline-block;
      content: '';
      position: absolute;
      top: 50%;
      left: calc(100% + 3px);
      transform: translate(0, -50%);
    }
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1;
    text-decoration-line: underline;
    color: #ABABAB;
  }
}

.call-us__numbers {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none;

  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  padding: 14px;
  box-shadow: 0 0 9px 3px rgba(18, 18, 18, 0.12);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.1;
    color: #242424;
    margin-bottom: 5px;
    text-decoration: none;
    display: inline-block;

    &:last-child {
      margin-bottom: 0;
    }

    transition: color 0.3s ease;

    &:hover {
      color: #1877bd;
      transition: color 0.3s ease;
    }
  }
}

.header-control {
  display: flex;
  margin-left: 3.4%;
  align-items: center;
  justify-content: flex-start;
  margin-right: 2.3%;

  .cart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 9px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: border 0.3s ease;
    text-decoration: none;

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 1;
      color: #4E4E4E;
      margin-left: 10px;
    }

    .img {
      width: 18px;
      height: 18px;
      flex-shrink: 0;
      position: relative;

      span {
        position: absolute;
        display: none;
        background: #ED1C1C;
        border-radius: 50%;

        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 1;
        color: #FFFFFF;
        width: 16px;
        height: 16px;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 100%;
        transform: translate(-50%, -40%);
      }

      svg {
        width: 100%;
        height: 100%;

        path {
          fill: #4e4e4e;
        }
      }
    }

    &.not-empty {
      .img {
        span {
          display: flex;
        }
      }
    }

    &:hover, &.active {
      border: 1px solid rgba(24, 119, 189, 0.5);
      transition: border 0.3s ease;

      .img {

        svg {
          path {
            fill: #1877bd;
            transition: fill 0.3s ease;
          }
        }
      }
    }
  }

  > a:not(.cart) {
    width: 38px;
    height: 38px;
    padding: 9px;
    box-sizing: border-box;
    flex-shrink: 0;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: border 0.3s ease;

    svg, img {
      width: 100%;
      height: 100%;

      path {
        fill: #4E4E4E;
        transition: fill 0.3s ease;
      }
    }

    &:hover, &.active {
      border: 1px solid rgba(24, 119, 189, 0.5);
      transition: border 0.3s ease;

      svg {
        path {
          fill: #1877bd;
          transition: fill 0.3s ease;
        }
      }
    }
  }
}

.lang {
  margin-right: 5px;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 0 9px 3px rgba(18, 18, 18, 0.12);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: box-shadow 0.3s, opacity 0.3s ease, visibility 0.3s ease;

    li {

      box-sizing: border-box;
      width: 100%;
      border-bottom: 1px solid rgba(24, 119, 189, 0.5);

      &:last-child {
        border-bottom: none;
      }

      a, span {
        display: flex;
        padding: 2px 7px;
        box-sizing: border-box;
        width: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 26px;
        text-transform: uppercase;
        color: #4E4E4E;
        text-decoration: none;
        transition: color 0.3s, border 0.3s ease, background-color 0.3s ease;

        &:hover {
          background: #4e4e4e;
          color: #fff;
          transition: color 0.3s, border 0.3s ease, background-color 0.3s ease;

        }
      }

      span {
        background: $gradient;
        color: #fff;
        cursor: default;

        &:hover {
          background: $gradient;
          color: #fff;
        }

        &::after {
          content: none;
        }
      }
    }
  }

  &-box {
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: border 0.3s ease;

    &:hover {
      border: 1px solid rgba(24, 119, 189, 0.5);
      transition: border 0.3s ease;

      span {
        &:after {
          transform: rotate(180deg);
        }
      }

      ul {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: box-shadow 0.3s, opacity 0.3s ease, visibility 0.3s ease;
      }
    }
  }

  span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #4E4E4E;

    &::after {
      width: 7px;
      height: 5px;
      background: url("../img/triang-b-b.svg") no-repeat center/100%;
      display: inline-block;
      margin-left: 2px;
      content: '';

    }
  }
}

.burger-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  position: relative;

  &.open {
    .menu {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    .burger-button {
      border: 1px solid rgba(24, 119, 189, 0.5);

      span {
        background: #1777BD;
        width: 100% !important;
      }
    }
  }
}

.burger-button {
  cursor: pointer;
  width: 39px;
  padding: 12px 5px;
  height: 39px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: border 0.3s ease;

  span {
    height: 2px;
    display: inline-block;
    border-radius: 1px;
    background: #4E4E4E;
    width: 100%;
    transition: width 0.3s ease;

    &:nth-child(1) {
      width: 22px;
    }

    &:nth-child(2) {
      width: 17px;
    }
  }

  &:hover {
    border: 1px solid rgba(24, 119, 189, 0.5);
    transition: border 0.3s ease;

    span {
      width: 100% !important;
      transition: width 0.3s ease;
    }
  }

}

.menu {
  position: absolute;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  right: 0;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.15);
  transition: opacity 0.4s ease, visibility 0.4s ease;

  .lang {
    display: none;
  }

  ul {
    position: relative;
    padding: 11px 0;
    box-sizing: border-box;
    background: #fff;
    width: 425px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    li {
      width: 100%;
      padding: 0 30px;
      box-sizing: border-box;
      position: relative;

      a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #E5E5E5;
        text-decoration: none;
        box-sizing: border-box;

        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 46px;
        color: #888888;
        transition: color 0.3s ease, font-weight 0.3s ease;

        svg {
          width: 11px;
          height: 11px;

          path {
            fill: #888888;
            transition: fill 0.3s ease;
          }
        }

        &::before {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
          width: 3px;
          height: 29px;
          background: rgba(255, 255, 255, 0);
          display: inline-block;
          content: '';
        }

        &:hover {
          color: #1777BD;
          font-weight: bold;
          transition: color 0.3s ease, font-weight 0.3s ease;

          svg {
            path {
              fill: #1777BD;
              transition: fill 0.3s ease;
            }
          }
        }

        &.active {
          color: #1777BD;
          font-weight: bold;

          &::before {
            background: #1777BD;

          }
        }
      }

      &:last-child {
        a {
          border-bottom: none;
        }

      }
    }
  }
}

.catalog {
  position: absolute;
  top: 100%;
  right: 0;
  left: 207px;
  background: #fff;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.15);
  transition: opacity 0.4s ease, visibility 0.4s ease;

  &.open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;

    &::after {
      position: absolute;
      bottom: 0;
      height: 1px;
      left: 0;
      right: 0;
      background: #fff;
      display: inline-block;
      content: '';
      z-index: 2;
    }

    li {
      width: calc(100% / 6);
      height: 0;
      position: relative;
      padding-top: calc(100% / 6);
      border-right: 1px dashed #C3CCD1;
      border-bottom: 1px dashed #C3CCD1;
      box-sizing: border-box;

      &:nth-child(6n) {
        border-right: none;
      }

      a {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 27px 13px;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;

        .img {
          height: auto;
          width: 100%;

          img {
            height: auto;
            width: 100%;
            mix-blend-mode: darken;
          }
        }


        p {
          margin-top: 11px;
          font-style: normal;
          font-weight: normal;
          font-size: 0.625vw;
          line-height: 1.3;

          text-align: center;
          color: #4E4E4E;
          transition: color 0.3s ease;
        }

        &:hover {
          p {
            color: #1777bd;
            transition: color 0.3s ease;
          }
        }

        &.active {
          background: rgba(23, 119, 128, 0.1);
        }
      }
    }
  }
}

.desk-only {
  display: block;
}

.mob-only {
  display: none;
}

.home-banner {
  width: 100%;
}

.slider-banner {
  height: 530px;
  width: 100%;
  z-index: 1;

  .swiper-wrapper {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

.banner-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-decoration: none;
  position: relative;

  .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;

    picture {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
    }

    img, picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text {
    .btn {
      height: 54px;
    }

    width: 100%;
    height: 100%;
    padding: 20px 50px;
    max-width: 521px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    > p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 27px;
      color: #FFFFFF;
      max-width: 366px;
      margin-bottom: 12px;

      strong {
        font-weight: 900;
      }
    }

    > span {
      font-style: normal;
      font-weight: normal;
      font-size: 21px;
      line-height: 35px;
      color: #75C2FA;
      display: inline-block;
      margin-bottom: 23px;

      display: -webkit-box;
      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      strong {
        font-size: 35px;
        font-weight: 900;
      }
    }

  }

  .text-title {
    margin-bottom: 22px;

    p {
      font-style: normal;
      font-weight: 900;
      font-size: 76px;
      line-height: 1.1;
      color: #FFFFFF;

      strong {
        font-size: 30px;
        font-weight: 900;
        display: inline-block;
        display: -webkit-box;
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .container {
    position: relative;
    height: 100%;
    z-index: 2;

  }

  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.btn {
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 40px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  border: none;

  &--transp {
    background: rgba(255, 255, 255, 0);
    color: #1777BD;
    padding: 13px 52px;
    border: 1px solid #1777BD;
    box-sizing: border-box;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover {
      color: #fff;
      background: #1777BD;
      transition: color 0.3s ease, background-color 0.3s ease;

    }
  }

  &--white {
    background: rgba(255, 255, 255, 0);
    color: #fff;
    padding: 13px 52px;
    border: 1px solid #fff;
    box-sizing: border-box;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover {
      color: #1777BD;
      background: #fff;
      transition: color 0.3s ease, background-color 0.3s ease;

    }
  }

  &--blue {

    background: rgba(255, 255, 255, 0);
    position: relative;
    overflow: hidden;
    color: #fff;
    transition: color 0.3s ease, background 0.3s ease, border 0.3s ease;

    &::before {
      z-index: -1;
      position: absolute;
      background: $gradient;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: inline-block;
      content: '';
    }

    &:hover {
      background: rgba(255, 255, 255, 0.77);
      transition: color 0.3s ease, background 0.3s ease, border 0.3s ease;
      color: #1777BD;

    }
  }

}

.slider-btn {
  z-index: 2;
  width: 52px;
  height: 52px;
  box-sizing: border-box;
  padding: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border: 1px solid #4E4E4E;
  transition: border 0.3s ease, background-color 0.3s ease;

  &.disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  svg {
    width: 11px;
    height: 11px;

    path {
      fill: #4E4E4E;
      transition: fill 0.3s ease;
    }
  }

  &--next {
    svg {
      transform: rotate(180deg);
    }
  }

  &:hover {
    background: #1877BD;
    border: 1px solid #1877bd;
    transition: border 0.3s ease, background-color 0.3s ease;

    svg {
      width: 11px;
      height: 11px;

      path {
        fill: #fff;
        transition: fill 0.3s ease;
      }
    }
  }
}

.dots {
  display: flex;
  align-items: flex-start;
  justify-content: center;

}

.product__rating {
  width: 100%;
  margin-bottom: 11px;
}

.rating-stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  img {
    width: 17px;
    height: 17px;
    margin-right: 3px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.single-dot {
  width: 10px;
  cursor: pointer;
  height: 10px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0);
  transition: background-color 0.3s ease, border 0.3s ease;
  border: 1px solid #4E4E4E;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background: #1877bd;
    transition: background-color 0.3s ease, border 0.3s ease;

  }

  &.active {
    background: #4E4E4E;
  }
}

.home-banner {
  position: relative;

  .dots {
    position: absolute;
    z-index: 2;
    bottom: 25px;
    left: 50%;

    transform: translate(-50%, 0);
  }

  .buttons {
    z-index: 2;
  }

  .single-dot {
    border: 1px solid #fff;

    &:hover {

    }

    &.active {
      background: #fff;
      border: 1px solid #fff;
    }
  }

  .slider-btn {
    position: absolute;
    background: rgba(255, 255, 255, 0);
    border: 1px solid #fff;
    top: 50%;
    transform: translate(0, -50%);

    &--prev {
      left: 8.6%;
    }

    &--next {
      right: 8.6%;
    }

    svg {
      path {
        fill: #fff;
      }
    }

    &:hover {
      background: #fff;
      border: 1px solid #1877bd;

      svg {
        path {
          fill: #1877bd;
        }
      }
    }
  }
}

.catalog-mini {
  width: 100%;
  position: relative;
  padding: 100px 0 95px;
  box-sizing: border-box;

  .dots {
    display: none;
  }

  .slider-btn {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    &--prev {
      left: 8.6%;
    }

    &--next {
      right: 8.6%;
    }
  }
}

.catalog-mini__container {
  width: 100%;

  .swiper-wrapper {
    align-items: stretch;
    display: flex;
  }

  ul {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
  }

  .slide-cat {
    height: auto;
    width: calc(100% / 5);
    padding: 10px 2.5%;
    box-sizing: border-box;
    box-shadow: none;

    a {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      text-decoration: none;
      transition: box-shadow 0.3s ease;

      &:hover {
        box-shadow: 0 0 9px 3px rgba(18, 18, 18, 0.12);
        transition: box-shadow 0.3s ease;

      }

      .img {
        width: auto;
        height: 118px;
        margin-bottom: 5px;

        img {
          width: auto;
          height: 100%;
        }
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #4E4E4E;
      }
    }
  }
}

.title {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 33px;
  text-transform: uppercase;
  color: #4E4E4E;
}

.row-items {
  position: relative;
  width: 100%;
  padding: 0 0 100px;
  box-sizing: border-box;

  .dots {
    width: 100%;
    display: none;
  }

  .slider-btn {
    position: absolute;
    top: calc(50% - 80px);
    transform: translate(0, -50%);

    &--prev {
      left: 8.6%;
    }

    &--next {
      right: 8.6%;
    }
  }
}

.row-items__container {
  width: 100%;
  margin-top: 45px;

  .swiper-wrapper {
    display: flex;
    align-items: stretch;
  }
}

.prod-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  height: auto;

  &.not-available {
    opacity: 0.4;
    pointer-events: none;

  }

  .text {
    flex-grow: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 30px 0;
    box-sizing: border-box;

  }

  .code {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    color: #ABABAB;
    margin-bottom: 3px;
  }

  .name {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #4E4E4E;
    margin-bottom: 9px;

    &:hover {
      text-decoration: underline;
    }
  }

  .about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .avail {
    padding: 8px 13px 9px 30px;
    box-sizing: border-box;
    background: #F8F9FB;
    margin-left: -30px;
    margin-right: 5px;

    color: #4E4E4E;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;

    &.good {
      color: #27AF24;
    }
  }

  .btn {
    height: 54px;
    width: calc(100% + 60px);
    margin-left: -30px;
    margin-right: -30px;
    margin-top: auto;
  }

  .price {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: flex-start;

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 21px;
      line-height: 21px;
      color: #4E4E4E;
    }

    strong {
      font-size: 14px;
      line-height: 21px;
      text-decoration-line: line-through;
      color: #B1B1B1;
    }
  }

  .fav {
    width: 45px;
    border: 1px solid rgba(255, 255, 255, 0);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    z-index: 2;
    top: 1px;
    right: 1px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 3px;
    transition: border 0.3s ease;

    svg {
      width: 17px;
      height: 17px;

      .center {
        transition: fill 0.3s ease;
        fill: #4E4E4E;
      }

      path:not(.center) {
        fill: rgba(255, 255, 255, 0);

      }
    }

    &:hover {
      border: 1px solid #1877bd;
      transition: border 0.3s ease;

      svg {
        .center {
          fill: red;
          transition: fill 0.3s ease;
        }
      }
    }

    &.active {
      svg {
        path:not(.center) {
          fill: red;
        }
      }
    }

  }

  .img {
    text-decoration: none;
    width: 100%;
    height: 231px;
    overflow: hidden;
    border-radius: 3px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.semi-cat {
  width: 100%;
  position: relative;
  padding-bottom: 130px;

  .dots {
    width: 100%;
    padding: 0 35px;
    position: absolute;
    box-sizing: border-box;
    bottom: 90px;
    left: 0;
  }

}

.semi-cat__container {
  width: 100%;
  padding-bottom: 130px;

  padding: 30px;
  margin: -30px;

  .swiper-wrapper {
    display: flex;
    align-items: stretch;

  }
}

.semi-cat__item {
  display: flex;
  text-decoration: none;
  height: 400px;
  position: relative;
  padding: 24px 54px;
  box-sizing: border-box;
  box-shadow: none;
  transition: box-shadow 0.3s ease;

  .img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.4s ease;
    }
  }

  &:hover {
    box-shadow: 0 0 16px 7px rgba(18, 18, 18, 0.22);
    transition: box-shadow 0.3s ease;

    .img {
      img {

        transform: scale(1.15);
        transition: transform 0.4s ease;

      }
    }

    .text {
      .icon {
        transform-origin: 0 50%;
        transform: scale(1.4);
        transition: transform 0.3s ease;
      }
    }
  }

  .text {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    .icon {
      width: 27px;
      height: 27px;
      transition: transform 0.3s ease;
      transform-origin: 0 50%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    p {
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 33px;
      color: #FFFFFF;
      margin-bottom: 12px;
    }

    span {
      display: inline-block;

      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 27px;
      color: #FFFFFF;
      margin-bottom: 12px;
    }
  }
}

.sub-title {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  color: #888888;
  margin-top: 21px;
  max-width: 575px;
}

.has-gradient {
  position: relative;
  padding-top: 90px;

  &::before {
    height: 88px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: inline-block;
    pointer-events: none;
    //content: '';
    background: linear-gradient(180deg, #F5F5F5 0%, rgba(255, 255, 255, 0) 100%);
  }
}

.useful-list {
  width: 100%;
  margin-top: 120px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 45px;
}

.single-useful {
  width: calc((100% / 4) - (135px / 4));
  background: #F8F9FB;
  border: 1px dashed #C3CCD1;
  padding: 35px 27px 22px;
  box-sizing: border-box;
  //backdrop-filter: drop-shadow(0 0 8px #F8F9FB);
  filter: drop-shadow(0 8px 0 #F8F9FB) drop-shadow(0 -8px 0 #F8F9FB) drop-shadow(-8px 0 0 #F8F9FB) drop-shadow(8px 0 0 #F8F9FB);
  position: relative;
  text-decoration: none;
  cursor: pointer;

  .img {
    width: 41.2%;
    padding-top: 41.2%;
    border-radius: 50%;
    background: #F8F9FB;
    border: 1px dashed #C3CCD1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 22px;
    transform-origin: 50% 50%;
    transform: translate(0, -50%);
    transition: transform 0.3s ease;

    &:after {
      position: absolute;
      width: 110%;
      height: 51%;
      top: 50%;
      left: -5%;
      background: #F8F9FB;
      display: inline-block;
      z-index: 1;
      content: '';

    }

    img {
      width: 66%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;

    }

  }

  .text {
    position: relative;
    z-index: 3;
    width: 100%;
    flex-grow: 1;
    height: 100%;
    box-sizing: border-box;
    padding-top: 8%;
    background: #F8F9FB;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    p {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      color: #4E4E4E;
      margin-bottom: 3px;
    }

    span {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #A0A0A0;
      display: inline-block;
      margin-bottom: 9px;
    }
  }

  .icon {
    width: 19px;
    height: auto;
    margin-top: auto;
    transform-origin: 0 50%;
    transition: transform 0.3s ease;

    img {
      width: 100%;
      height: auto;
    }
  }

  &:hover {
    .img {
      transition: transform 0.3s ease;

      transform: translate(0, -50%) scale(1.1);
    }

    .icon {
      transform: scale(1.4);
      transition: transform 0.3s ease;
    }

    .text {
      p {
        text-decoration: underline;
      }
    }
  }

}

.other-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 90px;
}

.item-link {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 443px;
  box-sizing: border-box;
  padding: 50px 45px;
  text-decoration: none;
  cursor: pointer;
  width: calc((100% - 30px) - 40%);

  &:nth-child(2n), &:nth-child(3n) {
    width: 40%;
  }

  &:nth-child(4n) {
    width: calc((100% - 30px) - 40%);
  }

  .text {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;

    p {
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 33px;
      color: #FFFFFF;
      max-width: 312px;
      margin-bottom: 12px;
    }

    span {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 27px;
      color: #FFFFFF;
    }

    .btn {
      height: 54px;
      width: 210px;
      margin-top: 20px;
    }
  }

  .img {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      z-index: 1;
      transform-origin: 50% 50%;
      transition: transform 0.4s ease;
    }

    &::after {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: inline-block;
      content: '';
      opacity: 0.7;
      transition: transform 0.4s ease;
      transform: translate(-100%, 0);
      background: linear-gradient(to right, #1877bd 0%, rgba(255, 255, 255, 0) 60%);
    }
  }

  &:hover {
    .img {
      &::after {
        transition: transform 0.4s ease;
        transform: translate(0, 0);
      }

      img {
        transition: transform 0.4s ease;
        transform: scale(1.1);


      }
    }
  }
}

.blog-part {
  width: 100%;
  display: flex;
}

.top-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    width: 100%;
    max-width: 574px;
    margin-right: 15px;
  }

  .btn {
    height: 52px;
  }
}

.blog-container {
  width: 100%;
  margin-top: 45px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
}

.single-blog {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 377px;
  box-sizing: border-box;
  padding: 37px 50px;
  text-decoration: none;
  width: 40%;

  &:nth-child(2n), &:nth-child(4n-1) {

    width: calc((100% - 30px) - 40%);
  }

  &:nth-child(4n) {
    width: 40%;
  }

  .time {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    color: #FFFFFF;
    padding-left: 17px;
    box-sizing: border-box;
    position: relative;

    &::before {
      width: 13px;
      height: 13px;
      top: 45%;
      left: 0;
      transform: translate(0, -50%);
      position: absolute;
      display: inline-block;
      content: '';
      background: url("../img/clock-c.svg") no-repeat center/100%;
    }
  }

  a {
    text-decoration: none;
  }

  .tag {
    position: absolute;
    left: 0;
    top: 36px;
    z-index: 4;
    padding: 4px 24px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 33px;
    text-transform: uppercase;
    color: #4E4E4E;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover {
      background: #1777BD;
      color: #fff;
      transition: color 0.3s ease, background-color 0.3s ease;

    }
  }

  .name {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: #FFFFFF;
    max-width: 330px;
    display: inline-block;
    margin-top: 9px;

    &:hover {
      text-decoration: underline;
    }
  }

  .text {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;


    .btn {
      height: 54px;
      width: 210px;
      margin-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .img {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      z-index: 1;
      transform-origin: 50% 50%;
      transition: transform 0.4s ease;
    }

    &::after {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: inline-block;
      content: '';
      opacity: 0.7;
      transition: transform 0.4s ease;
      transform: translate(-100%, 0);
      background: linear-gradient(to right, #1877bd 0%, rgba(255, 255, 255, 0) 60%);
    }
  }

  &:hover {
    .img {
      &::after {
        transition: transform 0.4s ease;
        transform: translate(0, 0);
      }

      img {
        transition: transform 0.4s ease;
        transform: scale(1.1);


      }
    }
  }
}

.seo-block {
  width: 100%;
  margin-bottom: 73px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .img {
    width: 49%;
    height: 0;
    position: relative;
    overflow: hidden;
    padding-top: 30%;
    margin-left: 8%;
    flex-shrink: 0;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}

.seo-text {
  flex-grow: 1;
  max-height: 452px;
  box-sizing: border-box;
  padding-right: 40px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  * {
    font-style: normal;
  }

  em {
    font-style: italic;
  }

  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
  }

  h1, h2, h3, h4, h5, h6, strong {
    font-weight: 900;
    color: #4E4E4E;

  }

  h1 {
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    color: #4E4E4E;
    margin-bottom: 20px;
  }

  h2, h3, h4 {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 16px;
  }

  h6, h6 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 16px;
  }

  p, li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #888888;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: #1777BD;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;

    &:hover {
      text-decoration: none;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }


    li {
      position: relative;
      padding-left: 18px;
      width: 100%;
      box-sizing: border-box;

      &::before {
        width: 5px;
        height: 5px;
        background: #888888;
        border-radius: 50%;
        display: inline-block;
        content: '';
        position: absolute;
        top: 8px;
        left: 4px;
      }
    }
  }
}

.seo-block {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: #fff;
    position: relative;
    border: 1px solid #EDEDED;
    border-radius: 8px;

  }

  ::-webkit-scrollbar-thumb {
    background: $gradient;
    border-radius: 8px;
  }
}

.our-brands {
  width: 100%;
  margin-bottom: 100px;

  position: relative;

  .slider-btn {
    position: absolute;
    bottom: 30%;
    transform: translate(0, 50%);

    &--prev {
      left: 8.6%;
    }

    &--next {
      right: 8.6%;
    }
  }
}

.brands-list {
  width: 100%;
  display: flex;
  margin-top: 56px;
  margin-bottom: 44px;
  padding: 6px;
  margin-left: -6px;
  margin-right: -6px;

  .swiper-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
  }
}

.single-brand {
  height: auto;
  border: 1px dashed #C3CCD1;
  background: #F8F9FB;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  box-sizing: border-box;
  filter: drop-shadow(0 6px 0 #F8F9FB) drop-shadow(0 -6px 0 #F8F9FB) drop-shadow(-6px 0 0 #F8F9FB) drop-shadow(6px 0 0 #F8F9FB);

  img {
    width: auto;
    height: auto;
  }
}


.footer {
  width: 100%;
  background: url("../img/f-bg.svg") no-repeat right -228px / 327px, #222222;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

.top-footer {
  width: 100%;
  padding: 70px 0 60px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.footer-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.demiweb {
  padding: 7px 18px;
  box-sizing: border-box;
  width: 103px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;

  img {
    width: 100%;
    height: auto;
  }

  &:hover {
    background: rgba(23, 119, 189, 0.7);
    transition: background-color 0.3s ease;

  }
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 216px;
  margin-right: 8.5%;

  &:last-child {
    margin-right: 0;
  }

  p {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
  }

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    li {
      width: 100%;

      a {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 39px;
        color: #B4B4B4;
        text-decoration: none;
        transition: opacity 0.3s ease;

        &:hover {
          text-decoration: underline;
          transition: opacity 0.3s ease;
          opacity: 0.6;
        }

        &.active {
          opacity: 0.6;
        }
      }
    }
  }
}

.bottom-footer {
  width: 100%;
  border-top: 1px solid #3A3A3A;
  padding: 11px 0 9px;
  box-sizing: border-box;
}

.bottom-footer__row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    color: #B4B4B4;
    max-width: 262px;
    box-sizing: border-box;
    margin-right: auto;

  }
}

.footer-logo {
  margin-left: 10px;
  margin-right: 10px;
  width: 219px;
  height: auto;

  a {
    text-decoration: none;
    cursor: pointer;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.pay-cards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;

  img {
    width: auto;
    height: auto;
    margin-right: 32px;
    max-width: 52px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.hero {
  width: 100%;
  position: relative;
  min-height: 300px;

  .container {
    height: 100%;
    position: relative;
    z-index: 2;
  }

  .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;

    &::after {
      background: linear-gradient(90deg, #1D3344 1.07%, rgba(29, 51, 68, 0) 100%);
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
    }

    img, picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.hero-container {
  width: 100%;
  height: 100%;
  padding: 27px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.breadcrumbs {
  width: 100%;
  overflow-x: auto;

  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  li {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }

  }

  a, span {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 27px;
    color: #ABABAB;
    text-decoration: none;
    padding-right: 12px;
  }

  a {
    color: #fff;
    position: relative;

    &::after {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      display: inline-block;
      content: '';
      background: url("../img/arr-bread.svg") no-repeat center/ 100%;
      width: 7px;
      height: 7px;

    }
  }

  a:hover {
    text-decoration: underline;
  }
}

.hero-text {
  width: 100%;
  height: auto;
  flex-grow: 1;
  padding: 22px 0;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 40px;
  color: #FFFFFF;
  max-width: 758px;

}

.blog {
  padding: 50px 0 100px;
  box-sizing: border-box;
  width: 100%;

  .blog-container {
    margin: 50px 0;
  }
}

.blog-tabs {
  width: 100%;

  ul {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;

    li {
      margin-right: 10px;

      a {
        display: flex;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        padding: 11px 35px;
        box-sizing: border-box;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 1;
        /* identical to box height, or 225% */

        text-transform: uppercase;
        border: 1px solid #ABABAB;
        border-radius: 3px;
        color: #ABABAB;
        transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;

        &:hover {
          border: 1px solid #1777BD;
          background-color: #1777BD;
          color: #fff;
        }

        &.active {
          border: 1px solid #1777BD;
          background: #fff;
          color: #1777BD;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.pagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    li {
      margin-right: 32px;

      &:last-child {
        margin-right: 0;
      }

      a, span {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #B1B1B1;
        text-decoration: none;

        &.current {
          color: $black;
          text-decoration: underline;
        }

        &.prev, &.next {
          width: 52px;
          height: 52px;
          box-sizing: border-box;
          padding: 0;
          background: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          outline: none;
          cursor: pointer;
          border: 1px solid #4E4E4E;
          transition: border 0.3s ease, background-color 0.3s ease;
          position: relative;

          &::after {
            width: 11px;
            height: 11px;
            display: inline-block;
            background: url("../img/arr-pag.svg") no-repeat center;
            content: '';
          }

          &:hover {
            border-color: #1777BD;
            background-color: #1777BD;
            &::after {
              filter: invert(1);
            }
          }
        }

        &.prev {
          margin-right: 15px;
        }

        &.next {
          margin-left: 15px;

          &::after {
            transform: rotate(180deg);
          }
        }

        &:hover {
          color: $black;
        }
      }
    }
  }
}

.block-404 {
  width: 100%;
  flex-grow: 1;
  height: auto;
  padding: 27px 0;
  position: relative;
  .container {
    position: relative;
    height: 100%;
    z-index: 2;
  }

  .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;

    &::after {
      background: linear-gradient(90deg, #1D3344 1.07%, rgba(29, 51, 68, 0) 100%);
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
    }

    img, picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


.block-404__text {
  flex-grow: 1;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 7.6%;
  padding-bottom: 9%;
  box-sizing: border-box;
  p {
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
  }
  span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    display: inline-block;
    margin: 19px 0 22px;
  }
  .btn {
    padding: 13px 34px;
    height: 54px;
    box-sizing: border-box;
  }
}
@import "media"; // Always at the end
